# Eclipse project files
.settings
.classpath
.project
.metadata
*.launch
.springBeans
.tern-project

dataAccessDAO.properties
openidSetting.properties
log4j.properties

# Always ignore these directories/files
target
*.log
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/deploy/
war/


#compilation logs
.gwt/

#caching for already compiled files
www-test/



*.class

# Package Files #
*.jar
*.war
